<div class="whole-thing">
  <div class="benvenuti shadow">
    <h1><i>Benvenuti nella regione del Kanto</i></h1>
  </div>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="true"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/_{pokemon, litten, 1boy}, field, sunset s-1060079506.png"
          class="d-block w-100"
          alt="litten"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/_pokemon_(creature), pikachu s-1952198727.png"
          class="d-block w-100"
          alt="pika"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/_{pokemon, bulbasaur, charmander}, field, sunset s-565771995.png"
          class="d-block w-100"
          alt="bulbasaur"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/_{pokemon, bulbasaur, charmander}, field, sunset s-565771995.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="tutorial">
    <h1><i>Come utilizzare il sito</i></h1>
    <p>
      Utilizzare il Menù a forma di Hamburger. È Tutto! Divertiti ad esplorare
      il PokéDex! Tutte le immagini sono create con IA
    </p>
  </div>
</div>
